.inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;

    label {
        font-weight: bold;
    }

    input {
        padding: 5px;
        font-size: 1.2rem;
    }

}

.inputRemember {
    display: flex;

    label {
        margin-left: 0.25rem;
    }
}

.signInButton {
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    padding: 8px;
    border-style: none;
    border-color: #00bc77;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
    background-color: #00bc77;

    &:hover {
        background-color: lighten($color: #00bc77, $amount: 0.3);
    }
}

input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.error {
    color: red;
    font-size: 12px;
}